body{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game {
  margin-top: 40px;
}

#board {
  display: grid;
  gap: 8px;
  margin-bottom: 20px;
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  gap: 8px;
}

.cell {
  width: 50px;
  height: 50px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
  transform: rotateY(180deg);
  transition: .7s;
}

.flip{
  transform: rotateY(0deg);
}

.correct {
  background-color: #56ff80;
  color: black;
}

.present {
  background-color: #ffe880;
  color: black;
}

.fail {
  background-color: #ff6c6c;
  color: black;
}
